.header {
    margin-right:10.5%;
    margin-left:10.5%;
    margin-top:0;
    padding:10px;
    background-color:#458af9;
}

.headerText {
    color:white;
}

.bothHeaders {
    width:100%;
}

.bio {
    height:400px;
    width:68%;
    float:left;
}


.bioImage {
 float:left;
}


/*
.bioHeader {
    margin-right:25%;
    width:30%;
    float:left;
}
*/

.bioFull {
    float:left;
    width:25%;
    margin-left:5%;
}

.contactHeader, a, .bioHeader {
    color:#458af9;
}

.contactHeader, .bioHeader, .headerText {
    font-weight:300;
}

p, li {
    color:#595a5b;
}
